body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 136);
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    flex-direction: row;
}
#textArea{
    background-color: rgba(255, 255, 182, 0.574);
    border-radius: 25px;
    padding: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
}
#addBtn{
    text-align: center;
    align-self: center;
    background-color: rgb(255, 255, 0);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#addBtn:hover{
    background-color: rgb(0, 255, 68);
}
.task-container{
    border-radius: 25px;
    margin: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.task-container label{
    display: flex;
    gap: 20px;
}